@tailwind base;
@tailwind components;
@tailwind utilities;


/* Import fonts */
/* Font 1 - Regular */
@font-face {
  font-family: 'Nohemi-Regular';
  font-weight: 400;
  src: local('Nohemi-Regular'), url('./fonts/Nohemi-Regular.ttf') format('tff');
}

/* Font 1 - Bold */
@font-face {
  font-family: 'Nohemi-Bold';
  font-weight: 700;
  src: local('Nohemi-Bold') url('./fonts/Nohemi-Bold.otf') format('otf');
}

/* Font 2 - Regular */
@font-face {
  font-family: 'AeonikTRAIL-Regular';
  font-weight: 400;
  src: local('AeonikTRAIL-Regular') url('./fonts/AeonikTRIAL-Regular.otf') format('otf');
}

/* Font 2 - Bold */
@font-face {
  font-family: 'AeonikTRAIL-Bold';
  font-weight: 700;
  src: local('AeonikTRAIL-Bold') url('./fonts/AeonikTRIAL-Bold.otf') format('otf');
}

.card-container {
    display: flex;
    overflow: hidden;
    transition: transform 0.5s ease-in-out; /* Add a smooth transition for the transform property */
  }
  
  .card {
    width: 100%;
    flex: 0 0 auto;
    display: none;
  }
  
  .visible {
    display: block;
  }

/* ... existing styles ... */

.dot-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Adjust the margin as needed */
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: #4a5568; /* Dark color for inactive dots */
    border-radius: 50%;
    margin: 0 5px; /* Adjust the margin between dots as needed */
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #ffffff; /* White color for active dot */
  }


  .background-image {
    background-image: url('./assets/authImage.png');
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    min-height: 100vh;
    width: 100%;
  }

